extends layout

block content
  div(class="row m-2")
  h1(class="col-sm-10")= title
  a(href = "costume/create" class="btn bg-dark text-white col-sm-2") Create
  |  

  - const costume = ['constume_type','size','Cost']
  //- let items = [] 
  - let items = results; 
  - let o;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 

  div(class='container')
    
 
    each o, index in items
      div(class="card" style="width: 30rem;" onclick='buy('+index+')') 
        div(class="card-body text-center")        
          div(class='display-4 text-uppercase') #{o.costume_type}
          div(class='display-6') #{o.size}
          div(class='display-6') $ #{o.cost}
          
          a(href = "costume/detail/?id=" + o._id class="btn btn-primary")    Detail
          a(href = "costume/update/?id=" + o._id class="btn btn-secondary")    Update 
          a(href = "costume/delete/?id=" + o._id class="btn btn-danger")    Delete      